@{
    Layout = "_Layout";
}

<html>
<body>
    <h1>Your Order Receipt</h1>
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>@item.Product.Name - Quantity: @item.Quantity</li>
        }
    </ul>
    <p>Total Price: $@Model.TotalPrice</p>
    <p>Tax: $@Model.TotalTax</p>
    <p>Final Price: $@Model.FinalPrice</p>
</body>
</html>