@model FishStoreApplication.Models.Fish

@{
    ViewData["Title"] = "Edit" + Model.BreedName;
}

<h1>Edit @Model.BreedName</h1>
 <hr />
 <div class="row">
     <div class="col-md-4">
         <form asp-action="Edit">
             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <input type="hidden" asp-for="FishId" />
             <div class="form-group">
                 <label asp-for="BreedName" class="control-label"></label>
                 <input asp-for="BreedName" class="form-control" />
                 <span asp-validation-for="BreedName" class="text-danger"></span>
             </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input asp-for="Price" class="form-control" />
                </div>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishImageURL" class="control-label"></label>
                <input asp-for="FishImageURL" class="form-control" />
                <span asp-validation-for="FishImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishSize" class="control-label"></label>
                <input asp-for="FishSize" class="form-control" />
                <span asp-validation-for="FishSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishSpecialDiet" class="control-label"></label>
                <input asp-for="FishSpecialDiet" class="form-control" />
                <span asp-validation-for="FishSpecialDiet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishEnvironment" class="control-label"></label>
                <input asp-for="FishEnvironment" class="form-control" />
                <span asp-validation-for="FishEnvironment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishTemperament" class="control-label"></label>
                <input asp-for="FishTemperament" class="form-control" />
                <span asp-validation-for="FishTemperament" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishCareLevel" class="control-label"></label>
                <input asp-for="FishCareLevel" class="form-control" />
                <span asp-validation-for="FishCareLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FishWarranty" class="control-label"></label>
                <input asp-for="FishWarranty" class="form-control" />
                <span asp-validation-for="FishWarranty" class="text-danger"></span>
            </div>
             <div class="form-group">
                 <input type="submit" value="Save" class="btn btn-success mb-2" />
             </div>
         </form>
  </div>
 </div>

<div class="mb-2">
    <a class="btn btn-secondary" href="@Url.Action("Index")">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
