@section Head
{
    <style>
        .card:hover {
            transform: scale(1.05);
            transition: transform 0.3s;
        }
        .rounded-img {
            border-radius: 50%;
        }

    </style>
}
@{
    ViewData["Title"] = "Manage Products";
}
<div class="container mt-5">
    <header class="text-center mb-4">
        <h1>@ViewData["Title"]</h1>
    </header>
    <br />
    <br />
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card border-0">
                <a asp-controller="Fish" asp-action="Index">
                    <img src="~/images/fish.jpg" class="card-img-top rounded-img" alt="Fish">
                </a>
                <div class="card-body text-center">
                    <a asp-controller="Fish" asp-action="Index" class="btn btn-primary btn-lg">Manage Fish</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card no-shadow border-0">
                <a asp-controller="Aquarium" asp-action="Index">
                    <img src="~/images/aquarium.jpg" class="card-img-top rounded-img" alt="Aquarium">
                </a>
                <div class="card-body text-center">
                    <a asp-controller="Aquarium" asp-action="Index" class="btn btn-primary btn-lg">Manage Aquariums</a>
                </div>
            </div>
        </div>
    </div>
    <footer class="text-center mt-4">
    </footer>
</div>